@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap') ;

* {
    margin: 0;
}

.menu {
    background-color: lightcoral;
    height: 40px;
}

.link-navegacion {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    color: snow;
    /* Hay alguna diferencia si pongo un 'margin: 20px ;' aca?*/
    text-decoration: none;

}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    height: 40px;
}

.links li {
    margin-right: 20px;
}

a :visited {
    color: snow;
}

.icono {
    display: none;
    
}

@media (max-width: 600px) {

   .links {
       display: none;
    }

    .icono {
        display: flex;
        justify-content: flex-start;
        font-size: 20px;
        color:darkgray;
        padding: 10px;
    }

    
}